<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distance to the Nearest Sea</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Distance to the Nearest Sea</h2>
        <p>Here is your location: </p>
        <p>Here is the nearest sea to you: </p>
        <p>Here is your distance to it: </p>
        <a href="/entry-page" class="return-link">Return Back</a>
    </div>
</body>
</html>